{{if .Success}}
	<h1>{{.ShoppingList}}</h1>
	<table>
		<thead>
			<tr>
				<th>Type</th>
				<th>Count</th>
				<th>Price</th>
			</tr>
		</thead>
		</tbody>
			{{range .Items}}
			<tr>
				<td>{{.Type}}</td>
				<td>{{.Count}}</td>
				<td>{{.Price}}</td>
			</tr>
			{{end}}
		</tbody>
	</table>
{{else}}
    <h1>Enter Shopping Item</h1>
    <form method="POST">
        <label>Type:</label><br />
        <input type="text" name="type"><br />
        <label>Count:</label><br />
        <input type="number" name="count"><br />
        <label>Price:</label><br />
        <input type="number" name="price"><br />
        <input type="submit">
    </form>
{{end}}